div.formnavitem {
	padding: 8px;
}

div.divadminnav {
	margin-right: 16px;
}

div.navitemon {
	border-top: 2px solid;
	border-right: 2px solid;
	border-left: 2px solid;
	border-bottom: none;
}
div.navitemoff {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid;
}

