div.wholediv {
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
}

div.maindiv {
	width: 92%;
	margin-left: 4%;
	margin-right: auto;
	margin-top: 20px;
}

div.fulldiv {
	width: 100%;
	margin: 0;
	padding: 0;
}

div.infodiv {
	color: #666;
	font: Arial 14px;
}

div.fixdiv {
	position: fixed;
}

body {
	background-color: #ccf;
}

