div.wholediv {
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
}

div.maindiv {
	width: 92%;
	margin-left: 4%;
	margin-right: auto;
	margin-top: 20px;
	padding-top: 16px;
}

div.fulldiv {
	width: 100%;
	margin: 0;
	padding: 0;
}

div.infodiv {
	color: #666;
	font: Arial 14px;
}

div.fixdiv {
	position: fixed;
}

div.div50 {
	width: 50%;
}
div.divautowidth {
	width: auto;
}
div.divleft {
	float: left;
}
div.divright {
	float: right;
}

div.divclear {
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
	clear: both;
}

div.recorddiv {
	text-align: center;
}

div.divsimple {
	padding: 0;
	margin: 0;
}

div.pentitlediv {
	background-color: rgba(249,204,226,1);
	font: Arial;
	margin-bottom: 0;
}

div.peninfodiv {
	background-color: rgba(234,249,246,1);
	color: #666;
	margin-bottom: 0;
}

div.penwrapper {
	margin-top: 0;
	margin-bottom: 16px;
	padding-bottom: 8px;
	background-color: rgba(236,248,255,1);
}

div.divfill {
	width: 100%;
}
