body {
	margin: 0;
	padding-top: 70px;
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	cursor: pointer;
	color: #77f;
	text-decoration: none;
}
a:hover {
	color: #94f;
}

.hidden {
	display: none;
}

.error {
	color: red;
}

.alignright {
	text-align: right;
}

.green {
	color: green;
}
.blue { 
	color: blue;
}
.red {
	color: red;
}

